h1 {
  color: tomato;
}

body {
  background-color: #70e7ff;
}

.container {
  background-color: white;
  overflow-x: scroll;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

.header {
  font-family: 'Lato', sans-serif;
  background-color: white;
  width: 100%;
  border-bottom: solid 1px #999;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
}

.d-inline-block {
  display: inline-block;
}

.story-container {
  padding-top: 10px;
}